html {
  padding:0;
  margin:0;
  overflow:hidden;
  background:#222222;
  width:100%;
  height:100%;
}

body {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

.entity {
  position:fixed;
  background:#446677;
  border-radius:100%;
  z-index:0;
}

.shadow {
  z-index:-1;
  background:#000 !important;
}