html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  overflow:hidden;
}

.entity {
  position:absolute;
  background:#f00;
  width:20px;
  height:20px;
}

.entity.shooting {
  background:#00f;
}
