html {
  padding:0;
  margin:0;
  overflow:hidden;
}

body {
  padding:0;
  margin:0;
  width:100%;
  height:100%;
}

.entity {
  position:absolute;
  background:#f00;
  width:10px;
  height:10px;
}

.entity.shooting {
  background:#00f;
}
